h2{
    margin-bottom: 0px;
}
h3{
    font-size: 12px;
    margin: 0px 0px 10px 0px;
}
ul{
    padding: 0% 10% 0% 10%;
    list-style-type: circle;
}
.blank{
    margin-top: 25px;
}
.info{
    color: #00274C;
}
#award {
    top: -60px;
}
.company {
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/******************
* PARALLAX EFFECT *
******************/
#BNY .logo{
    background-image: url(../images/bnym.png)
}
#UKG .logo{
    background-image: url(../images/ukg.png);
}
.logo{
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    height: 400px;
}