h2{
    margin-top: 0px;
    margin-bottom: 0px;
}
h3{
    font-size: 12px;
    margin: 0px 0px 10px 0px;
}
ul{
    padding: 0% 10% 0% 10%;
    list-style-type: circle;
}
/*
.info{
    color: white;
    background-color: rgb(0, 62, 106);
}
*/
#award {
    top: -60px;
}
.company {
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
#BNY .info, #BNY h2, #BNY h3{
    background-color: #494848;
    color: #EAB748;
}
#UKG .info, #UKG h2, #UKG h3 {
    background-color: #045250;
    color: #ccd9d7;
}

/******************
* PARALLAX EFFECT *
******************/
#BNY .logo{
    background-image: url(../images/bnym.png)
}
#UKG .logo{
    background-image: url(../images/ukg.png);
}
.logo{
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    height: 350px;
    background-color: white;
}