.project {
    width: 80%;
    margin-left: 10%;
    text-align:center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: stretch; */
}
iframe{
    display:none;
    border: 2px solid black;
    flex: 1 0 0px;
}
.desc{
    flex: 1 0 0px;
}
h2, .url, .git{
    flex: 1 0 100%;
}
.url{
    margin-top: 5px;
}
@media screen and (min-width:600px) {
    iframe{
        display: block;
        padding-left: 5px;
    }
    .desc{
        padding-right: 5px;
    }
 }
 @media screen and (min-width:900px) {
    .desc{
        flex: 2 0 0px;
    }
 }