header {
   position: fixed;
   background: #00274C;
   border-radius: 5px;
   border: grey solid 3px;
   /* margin-bottom: 20px; */
   padding: 5px;
}

body{
   margin:5px;
   padding:5px;
   line-height:1.15;
   color: #FFCB05;
   background-color:white; 
}
body a{
   color: #00274C;
}
main {
   padding-top: 50px;
   margin-left: 10%;
   width: 80%;
}
 h1,h2,h3{
    color: #00274C;
    text-align: center;
    font-weight: bold;
    font-family: Garamond, Arial;
 }
 h1 {
   margin: 20px 0px 20px 0px;
   font-size: 30px;
 }
 h2 {
   margin: 10px 0px 10px 0px;
   font-size: 18px;
 }
 p{
   text-align:center;
   color: #00274C;
}
 nav li{
    list-style-type: upper-roman;
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    background-color: #00274C;
    border: #FFCB05 solid 1px;
    margin: 5px;
 }
 nav li a {
   color: #FFCB05;
   font-family: Garamond, Arial;
 }
 #current{
    background-color: #FFCB05;
    border-color: black;
 }
 #current a {
   color: #00274C;
 }

 .skip{
   position: absolute;
   transition: top .5s ease-in 0s;
   top: -60px;
   border: black solid 1px;
   border-radius: 5px;
   background-color: white;
 }
 
 .skip:focus{
   transition: top .5s ease-in 0s;
   top: 5px;
 }

footer {
   border: black solid 3px;
   color: #00274C;
   background-color: #FFCB05;
}
.fa-envelope {
   color: #00274C;
}
.fa-github {
   color: #00274C;
}

footer a {
   color: #00274C;
   
}
.misc img {
   padding: 5px;
   border: black solid 1px;
   background-color: #FFCB05;
}
.pdf {
   width: 70%;
   margin: 10px 15% 10px 15%;
}
.download {
   text-align: center;
   border: black solid 1px;
   color: #FFCB05;
   background: #00274C;
   border-radius: 15px;
   display: inline-block;
   padding: 5px 10px 5px 10px;
   width:20%;
   margin: 2px 40% 2px 40%;
}

@media screen and (min-width:600px) {
   header {
      padding: 0px;
      width: 98%;
   }
   main {
      padding-top: 60px;
   }
   #copyright {
      float: right;
   }
}
@media screen and (min-width:900px) {
   /* main {
      padding-top: 40px;
   } */
}
 
@media screen and (prefers-reduced-motion) {
   .skip {
      transition: none;
   }
   .skip:focus {
      transition: none;
   }
}